a {
    color: red;
}



h1 {
    text-align: center;
    font-size: 70px;
    color: #191970;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    color: #1F3F68;
}

h3 {
    text-align: left;
    font-weight: 500;
    font-size: 30px;
    color: White;
}

img {
    width: 650px;
    height: 400px;
}

img[alt] {
    width: 1900px;
    height: auto;
}

input[type="text"] {
    font-size: 10px;
}

    {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: azure
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.menu a {
    text-decoration: none;
}

.menu a: hover {
    color: darkmagenta;
    font-size: 20px
}

input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    прозрачность текста в полях: 0.4;
    width: 250px;
    height: 30px;
    margin: 10px 15px 10px 15px;
}

.button {
    background: cornflowerblue;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500. font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button:hover {
    background: blue;
}

.button:active {
    background: red;
}

.content_page form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.imagee {
    display: flex;
}